<h1>Dashboard#index</h1>

<%= form_tag("/search", method: "get") do %>
<div class="row" style="min-height:100px">
<div class="col-lg-6">
<div class="input-group">
<span class="input-group-btn">
<button class="btn btn-default" type="button"><i class="icon-search"></i></button>
</span>
<%= text_field_tag(:query, params[:query], class:"form-control", placeholder: "Search type of Application or Company Profile") %>
</div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div>
<%end %>
<div class="row"> 
<div class="col-sm-6 col-md-2">
	    Featured comapnies
	    
	  </div>
	  <div class="col-sm-6 col-md-5" >
		

	  </div>
	  <div class="col-sm-6 col-md-2" >
		<strong>Vendi Score</strong>

	  </div>
	
	  </div>

<hr/>
<% @vendors.each do |vendor|%>
<div class="row">
	  <div class="col-sm-6 col-md-2">
	      <a href= "<%= vendor_path(vendor)%>"><img class="img-thumbnail" src="/assets/unknown.jpg" alt="..." width="100" height="100">
	      <div class="caption">
	        <%= vendor.name.capitalize%>
	        
	      </div>
	  		</a>
	    
	  </div>
	  <div class="col-sm-6 col-md-5" >
		<div class="panel panel-default" style="min-height:100px">
			<div class="panel-heading">
    <h3 class="panel-title"><strong>Business Type</strong> <%=vendor.business_type%></h3>
  </div>
			<div class="panel-body">
				<blockquote>
  <p><%=vendor.comments.last.try(:comment)%>.</p>
  <small><%=vendor.comments.last.try(:evaluator).try(:name).try(:capitalize)%></small>
</blockquote>
			</div>
		</div>

	  </div>
	  <div class="col-sm-6 col-md-1" >
		<strong><%= number_to_currency(vote_percent(vendor), :unit => "", :separator => ".", :delimiter => "," ,:precision => 2)%> %</strong>

	  </div></div>
	<% end %>

