
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sign up as Vendor</h3>
  </div>
  <div class="panel-body">


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>



	  <div><%= f.label :name %><br />
	  <%= f.text_field :name %></div>

	  <div><%= f.label :business_type %><br />
	  <%= f.text_field :business_type %></div>

	  <div><%= f.label :description %><br />
	  <%= f.text_area :description %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div><br />


  <div><%= f.submit "Sign up" , class: "btn btn-primary"%></div>
<% end %>

<%= render "vendors/shared/links" %>
</div>
</div>
